body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    width: 80%;
}

.square {
    flex: 1 1 auto;
    border: solid 2px black;
    margin: -1px;
}

button {
    margin-bottom: 10px;
}